* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url('/portfolio-resources-main/images/header_bg.png'), url('/portfolio-resources-main/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.btn-primary {
    color: #ffffff;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 27px; */
    padding: 18px 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

.text-primary {
    color: #FD6E0A;
}

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about style */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.promary-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.about-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

.what-i-do {
    padding: 130px 150px;
}

.do {
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 80px;
}

.skill-title {
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

/* summery style */
.summery {
    padding: 130px 150px;
    align-items: center;
}

.education-experiences {
    display: flex;
    gap: 25px;
}

.summery-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 115px;
    text-align: center;
}

.education {
    margin-top: 30px;
    margin-bottom: 30px;
}

.experiences {
    margin-top: 30px;
    margin-bottom: 30px;
}

.education-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.education-sub-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.education-paragraph {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.education-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-btn {
    margin-top: 40px;
    text-align: center;
}